/* HTML Forms with dom manipulation */
body{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right,white,blue);
   
}
label,input{   
    margin:10px;    
}

#container{
    display:block;
    justify-content: center;
    align-items: center;
    transform: translate(40%,20%);
    
}
figure{
    padding:0;
    margin:0;
}
#name{
    padding:0;
    display: flex;
    margin-bottom: 10px;
}
input,textarea{
    border:solid 1px black;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
}

submit{
    color:blue;
}